# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.out

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clion
.idea/
cmake-build-debug/

# Emacs
*~
.*~
\#*
.\#*

# Project stuff
extracted/
build/

# Jekyll stuff
*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*